<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="serviceName"
                    source="laa.springboot.starter.observability.service-name"
                    defaultValue="unknown-service"/>
    <springProperty scope="context" name="serviceVersion"
                    source="laa.springboot.starter.observability.service-version"
                    defaultValue="unknown"/>
    <springProperty scope="context" name="serviceEnvironment"
                    source="laa.springboot.starter.observability.environment"
                    defaultValue="local"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${serviceName}</serviceName>
            <serviceVersion>${serviceVersion}</serviceVersion>
            <serviceEnvironment>${serviceEnvironment}</serviceEnvironment>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>